<% alive_p = tile.participations.filter {|p| p.is_alive?} %>

<div id="<%= dom_id tile %>" class="flex w-8 h-8 sm:w-12 sm:h-12 <%= tile.bg %> relative">
  <% if alive_p.count > 1 %>
    <% alive_p.each do |p| %>
      <%= image_tag p.bot.image_link, class: "w-4 h-4 sm:w-6 sm:h-6 rounded-lg" %>
    <% end %>
  <% else %>
    <% alive_p.each do |p| %>
      <%= image_tag p.bot.image_link, class: "rounded-lg animate-jump-small" %>
    <% end %>
  <% end %>

  <div class="absolute top-1/4 right-1/4 text-lg sm:text-2xl font-extrabold"><%= tile.item %></div>
</div>
