<p style="color: green"><%= notice %></p>

<dialog id="qr_modal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg text-center">Scan this code to join the game!</h3>
    <%= image_tag "qr.png" %>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<div class="flex flex-col p-2">
  <i class="fa-solid fa-wifi text-5xl animate-pulse"></i>
  <i class="fa-solid fa-robot text-5xl -mt-2"></i>
</div>

<div class="mt-40 w-fit hover:cursor-pointer hover:-translate-y-4 transition duration-150" onclick="qr_modal.showModal()">
  <h1 class="text-7xl">SUPER!</h1>
  <h1 class="text-7xl">MARS</h1>
  <h1 class="text-7xl mb-4">ROYALE</h1>
</div>

<div class="max-w-96">
  <div class="flex justify-between w-full">
    <%= link_to "Make a Bot", new_bot_path, class: "btn btn-primary mb-2 justify-start flex-grow" %>
    <%= link_to "Find my Bot", bots_path, class: "btn mb-2 justify-start flex-grow" %>
  </div>

  <%= link_to "Start a New Game", new_arena_path, class: "btn btn-warning w-full mb-16 justify-start hover:bg-amber-500 transition duration-100" %>
</div>

<p class="text-4xl mb-2 ml-2">Games</p>
<div id="arenas">
  <% @arenas.each do |arena| %>
    <%= link_to arena do %>
      <%= render arena %>
    <% end %>
  <% end %>
</div>
