<p style="color: green"><%= notice %></p>

<p class="text-7xl flex flex-wrap font-bold bg-secondary w-full mb-4 overflow-clip">
  <%= @bot.name %>
</p>

<p class="mb-4">
  <strong class="w-full bg-base-200">Element</strong>
  <br>
  <%= @bot.element %>
</p>

<p class="mb-4">
  <strong class="w-full bg-base-200">Description</strong>
  <br>
  <%= @bot.description %>
</p>

<p class="mb-4">
  <strong class="w-full bg-base-200">Super Move</strong>
  <br>
  <%= @bot.move_name %>
</p>

<p class="mb-4">
  <strong class="w-full bg-base-200">Catchphrase</strong>
  <br>
  <%= @bot.catchphrase %>
</p>

<p class="mb-4">
  <strong class="w-full bg-base-200">Attack</strong>
  <br>
  <%= @bot.attack %>
</p>

<p class="mb-4">
  <strong class="w-full bg-base-200">Defense</strong>
  <br>
  <%= @bot.defense %>
</p>

<p class="mb-4">
  <strong class="w-full bg-base-200">Speed</strong>
  <br>
  <%= @bot.speed %>
</p>
